.wrapper-cart {
    background-image: linear-gradient(to right, #d343b0, #8029fc);
    height: calc(170vh - 70px);
}

.form-control {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: 1rem;
}

.form-control input {
    width: -webkit-fill-available;
    border: none;
    outline: none;
    padding: .8rem;
    border-radius: 4px;
    background: #ededed;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: normal;
}

.form-control label {
    font-weight: 600;
}

.group-cart {
    width: 75%;
    background: #ffffff;
    margin: auto;
    padding: 2rem;
    border-radius: 4px;
}

.header-cart {
    display: flex;
    padding: 1rem;
    background: #ffffff;
    text-transform: uppercase;
    ;
    font-weight: 600;
    font-size: 14px;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 1.5;
}

.col-3 {
    flex: 1;
}

.col-4 {
    flex: .5;
}

.body-cart {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.row-cart {
    display: flex;
    align-items: center;
}